In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd  
import pylab as pl
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

from sklearn.metrics import accuracy_score

In [2]:
all_features_data = pd.read_csv("/Users/suhaniagarwal/Downloads/all_features_data.csv")

In [3]:
admission_data = pd.read_csv("/Users/suhaniagarwal/Downloads/HDHI Admission Data.csv")

In [4]:
type_admission = all_features_data.copy()

In [51]:
admission_data.head(40)

,SNO,MRD No.,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,...,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION,monthyear_parsed,doa_md,doa_dm,DOA_fixed,Date
0,1,234735,4/1/2017,4/3/2017,81,M,R,E,Apr-17,3,...,0,0,0,0,0,2017-04-01,2017-04-01,2017-01-04,2017-04-01,2017-04-01
1,2,234696,4/1/2017,4/5/2017,65,M,R,E,Apr-17,5,...,0,0,0,0,0,2017-04-01,2017-04-01,2017-01-04,2017-04-01,2017-04-01
2,3,234882,4/1/2017,4/3/2017,53,M,U,E,Apr-17,3,...,0,0,0,0,0,2017-04-01,2017-04-01,2017-01-04,2017-04-01,2017-04-01
3,4,234635,4/1/2017,4/8/2017,67,F,U,E,Apr-17,8,...,0,0,0,0,0,2017-04-01,2017-04-01,2017-01-04,2017-04-01,2017-04-01
4,5,234486,4/1/2017,4/23/2017,60,F,U,E,Apr-17,23,...,0,0,0,0,0,2017-04-01,2017-04-01,2017-01-04,2017-04-01,2017-04-01
5,6,234675,4/1/2017,4/10/2017,44,M,U,E,Apr-17,10,...,0,0,0,0,0,2017-04-01,2017-04-01,2017-01-04,2017-04-01,2017-04-01
6,7,234563,4/1/2017,4/6/2017,56,F,U,E,Apr-17,6,...,0,0,0,0,0,2017-04-01,2017-04-01,2017-01-04,2017-04-01,2017-04-01
7,8,208455,4/1/2017,4/13/2017,47,M,U,E,Apr-17,13,...,0,0,0,0,0,2017-04-01,2017-04-01,2017-01-04,2017-04-01,2017-04-01
8,9,67070,4/1/2017,4/3/2017,65,F,U,E,Apr-17,3,...,0,0,1,0,0,2017-04-01,2017-04-01,2017-01-04,2017-04-01,2017-04-01
9,10,153218,4/1/2017,4/3/2017,59,M,U,E,Apr-17,3,...,0,0,0,0,0,2017-04-01,2017-04-01,2017-01-04,2017-04-01,2017-04-01
10,11,233512,4/1/2017,4/15/2017,52,M,U,E,Apr-17,15,...,0,1,1,0,0,2017-04-01,2017-04-01,2017-01-04,2017-04-01,2017-04-01
11,12,232597,4/1/2017,4/2/2017,64,M,U,E,Apr-17,2,...,0,0,0,0,0,2017-04-01,2017-04-01,2017-01-04,2017-04-01,2017-04-01
12,13,233419,4/1/2017,4/13/2017,70,M,U,E,Apr-17,13,...,0,0,0,0,0,2017-04-01,2017-04-01,2017-01-04,2017-04-01,2017-04-01
13,14,233403,4/1/2017,4/2/2017,44,M,U,E,Apr-17,2,...,0,0,0,0,0,2017-04-01,2017-04-01,2017-01-04,2017-04-01,2017-04-01
14,15,86443,4/1/2017,4/4/2017,62,M,R,O,Apr-17,4,...,0,0,0,0,0,2017-04-01,2017-04-01,2017-01-04,2017-04-01,2017-04-01
15,16,413903,4/1/2017,4/5/2017,50,M,R,O,Apr-17,5,...,0,0,0,0,0,2017-04-01,2017-04-01,2017-01-04,2017-04-01,2017-04-01
16,17,413903,01/04/2017,03/04/2017,54,M,U,O,Apr-17,3,...,0,0,0,0,0,2017-04-01,2017-01-04,2017-04-01,2017-04-01,2017-04-01
17,18,234658,4/1/2017,4/2/2017,58,F,U,O,Apr-17,2,...,0,0,0,0,0,2017-04-01,2017-04-01,2017-01-04,2017-04-01,2017-04-01
18,19,219007,4/1/2017,4/8/2017,58,F,U,O,Apr-17,8,...,0,1,0,0,0,2017-04-01,2017-04-01,2017-01-04,2017-04-01,2017-04-01
19,20,277983,4/1/2017,4/6/2017,57,M,R,E,Apr-17,6,...,0,0,0,0,0,2017-04-01,2017-04-01,2017-01-04,2017-04-01,2017-04-01
20,21,62180,4/1/2017,4/2/2017,35,F,R,E,Apr-17,2,...,0,0,0,0,0,2017-04-01,2017-04-01,2017-01-04,2017-04-01,2017-04-01
21,22,323820,4/1/2017,4/4/2017,52,M,U,E,Apr-17,4,...,1,0,0,0,0,2017-04-01,2017-04-01,2017-01-04,2017-04-01,2017-04-01
22,23,359756,4/1/2017,4/4/2017,58,M,R,E,Apr-17,4,...,0,0,0,0,0,2017-04-01,2017-04-01,2017-01-04,2017-04-01,2017-04-01
23,24,359717,4/1/2017,4/10/2017,85,M,U,O,Apr-17,10,...,0,0,0,0,0,2017-04-01,2017-04-01,2017-01-04,2017-04-01,2017-04-01
24,25,375806,4/1/2017,4/2/2017,48,F,U,O,Apr-17,2,...,0,0,0,0,0,2017-04-01,2017-04-01,2017-01-04,2017-04-01,2017-04-01
25,26,380213,4/1/2017,4/21/2017,56,M,U,O,Apr-17,21,...,0,0,0,0,0,2017-04-01,2017-04-01,2017-01-04,2017-04-01,2017-04-01
26,27,161261,4/1/2017,4/4/2017,62,F,R,E,Apr-17,4,...,0,0,0,0,0,2017-04-01,2017-04-01,2017-01-04,2017-04-01,2017-04-01
27,28,380246,4/1/2017,4/4/2017,18,M,U,E,Apr-17,4,...,0,0,0,0,0,2017-04-01,2017-04-01,2017-01-04,2017-04-01,2017-04-01
28,29,380206,4/1/2017,4/20/2017,70,F,U,E,Apr-17,20,...,0,0,0,0,0,2017-04-01,2017-04-01,2017-01-04,2017-04-01,2017-04-01
29,30,170322,4/1/2017,4/4/2017,64,F,R,E,Apr-17,4,...,0,0,0,0,0,2017-04-01,2017-04-01,2017-01-04,2017-04-01,2017-04-01
30,31,450212,02/04/2017,03/04/2017,62,M,R,E,Apr-17,2,...,0,0,0,0,0,2017-04-01,2017-02-04,2017-04-02,2017-04-02,2017-04-02
31,32,58032,4/2/2017,4/3/2017,73,F,U,E,Apr-17,2,...,0,0,0,0,0,2017-04-01,2017-04-02,2017-02-04,2017-04-02,2017-04-02
32,33,178279,4/2/2017,4/2/2017,65,M,U,E,Apr-17,1,...,0,0,0,0,0,2017-04-01,2017-04-02,2017-02-04,2017-04-02,2017-04-02
33,34,235160,4/2/2017,4/5/2017,65,M,U,E,Apr-17,4,...,0,0,0,0,0,2017-04-01,2017-04-02,2017-02-04,2017-04-02,2017-04-02
34,35,278785,4/2/2017,4/6/2017,69,M,U,E,Apr-17,5,...,0,0,0,0,0,2017-04-01,2017-04-02,2017-02-04,2017-04-02,2017-04-02
35,36,290001,4/2/2017,4/7/2017,58,F,R,E,Apr-17,6,...,0,0,0,0,0,2017-04-01,2017-04-02,2017-02-04,2017-04-02,2017-04-02
36,37,353253,4/2/2017,4/5/2017,58,F,U,E,Apr-17,11,...,1,0,0,0,0,2017-04-01,2017-04-02,2017-02-04,2017-04-02,2017-04-02
37,38,360115,4/2/2017,4/24/2017,80,F,U,E,Apr-17,23,...,0,0,0,0,0,2017-04-01,2017-04-02,2017-02-04,2017-04-02,2017-04-02
38,39,359974,4/2/2017,4/7/2017,63,M,U,O,Apr-17,6,...,0,0,0,0,0,2017-04-01,2017-04-02,2017-02-04,2017-04-02,2017-04-02
39,40,360044,4/2/2017,4/4/2017,52,M,U,O,Apr-17,3,...,0,0,0,0,0,2017-04-01,2017-04-02,2017-02-04,2017-04-02,2017-04-02

In [22]:
all_features_data

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),...,temperature_2m_mean (°C),temperature_2m_max (°C),temperature_2m_min (°C),apparent_temperature_mean (°C),apparent_temperature_max (°C),apparent_temperature_min (°C),wind_speed_10m_max (km/h),wind_gusts_10m_max (km/h),wind_direction_10m_dominant (°),Number of Admissions
0,2017-05-01,38.350,61.36,16.18,5.71,116.68,50.755,1.82,0.700,25.85,...,26.9,35.6,17.4,26.3,36.0,16.9,13.7,29.5,8,28.0
1,2017-05-02,48.600,77.75,15.48,5.74,116.68,50.755,4.74,0.900,43.53,...,29.4,37.8,19.4,27.7,38.1,16.9,17.2,29.5,46,14.0
2,2017-05-03,46.940,75.10,18.65,4.80,116.68,50.755,2.38,1.190,19.42,...,30.2,36.8,25.1,28.4,35.9,23.7,19.1,40.7,39,15.0
3,2017-05-04,57.095,119.76,15.73,14.73,116.68,50.755,1.82,0.645,11.61,...,29.2,36.0,23.6,28.1,37.4,21.9,18.8,35.3,20,17.0
4,2017-05-05,75.770,121.22,8.48,8.62,116.68,50.755,0.99,0.490,32.05,...,29.5,38.0,20.9,28.6,37.7,19.5,15.3,33.8,326,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,2019-03-27,56.110,94.46,14.94,1.30,12.39,21.310,10.59,0.000,23.20,...,21.9,29.6,13.9,23.0,30.9,13.3,11.2,24.5,324,23.0
696,2019-03-28,28.690,73.86,27.43,9.46,32.22,43.840,9.62,0.000,40.74,...,23.8,30.6,18.0,25.4,32.1,18.9,11.1,25.6,332,41.0
697,2019-03-29,47.540,81.34,40.21,10.34,47.18,50.500,19.67,0.000,34.93,...,24.3,31.8,17.5,25.6,33.5,18.5,11.0,24.1,316,27.0
698,2019-03-30,52.130,88.82,65.08,10.78,66.81,66.040,37.93,0.000,36.24,...,24.0,32.2,18.3,24.6,34.9,17.1,21.7,44.6,334,13.0
699,2019-03-31,36.570,69.92,42.93,8.72,46.20,59.200,35.21,0.000,40.09,...,22.5,30.3,16.7,21.5,28.9,16.2,18.7,38.2,311,6.0

In [44]:
import pandas as pd

# ===============================
# 1. Load admission data
# ===============================
admission_data = pd.read_csv("/Users/suhaniagarwal/Downloads/HDHI Admission Data.csv")
# ===============================
# 2. Parse trusted month-year
# ===============================
admission_data["monthyear_parsed"] = pd.to_datetime(
    admission_data["month year"],
    format="%b-%y",
    errors="coerce"
)

# ===============================
# 3. Parse D.O.A in both formats
# ===============================
admission_data["doa_md"] = pd.to_datetime(
    admission_data["D.O.A"],
    dayfirst=False,
    errors="coerce"
)

admission_data["doa_dm"] = pd.to_datetime(
    admission_data["D.O.A"],
    dayfirst=True,
    errors="coerce"
)

# ===============================
# 4. Deterministic fix (NO NaT)
# ===============================
def fix_doa(row):
    correct_month = row["monthyear_parsed"].month

    # If month-day matches month-year → correct
    if row["doa_md"].month == correct_month:
        return row["doa_md"]

    # Otherwise → swap day/month
    return row["doa_dm"]

admission_data["DOA_fixed"] = admission_data.apply(fix_doa, axis=1)

# Normalize to date only
admission_data["Date"] = admission_data["DOA_fixed"].dt.normalize()

# ===============================
# 5. HARD VALIDATION (must be True)
# ===============================
print(
    "All months correct:",
    (
        admission_data["Date"].dt.month
        == admission_data["monthyear_parsed"].dt.month
    ).all()
)

# ===============================
# 6. Daily admissions (correct counts)
# ===============================
daily_admissions = (
    admission_data
    .groupby("Date")
    .size()
    .reset_index(name="Number of Admissions")
    .sort_values("Date")
)

# ===============================
# 7. Final sanity checks
# ===============================
print("Any NaTs in Date:", daily_admissions["Date"].isna().any())
print(daily_admissions.head())

All months correct: True
Any NaTs in Date: False
        Date  Number of Admissions
0 2017-04-01                    30
1 2017-04-02                    15
2 2017-04-03                    26
3 2017-04-04                    20
4 2017-04-05                     9

In [49]:
import pandas as pd

# --- Normalize dates so they align ---
daily_admissions["Date"] = pd.to_datetime(daily_admissions["Date"]).dt.normalize()
all_features_data["Timestamp"] = pd.to_datetime(
    all_features_data["Timestamp"]
).dt.normalize()

# --- Rename Date → Timestamp so merge key is identical ---
daily_admissions_cmp = daily_admissions.rename(
    columns={"Date": "Timestamp"}
)

# --- Keep only what we need from all_features_data ---
all_features_cmp = all_features_data[
    ["Timestamp", "Number of Admissions"]
]

# --- Merge ONLY on common dates ---
comparison = pd.merge(
    daily_admissions_cmp,
    all_features_cmp,
    on="Timestamp",
    how="inner"
)

# --- Compare counts ---
comparison["matches"] = (
    comparison["Number of Admissions_x"]
    == comparison["Number of Admissions_y"]
)

print("Rows compared:", len(comparison))
print("All values match:", comparison["matches"].all())

comparison.loc[
    ~comparison["matches"],
    ["Timestamp", "Number of Admissions_x", "Number of Admissions_y"]
].head()

Rows compared: 700
All values match: True

Empty DataFrame
Columns: [Timestamp, Number of Admissions_x, Number of Admissions_y]
Index: []

Time-aware split emergency and opd prediction

In [53]:
import pandas as pd



# type_admission uses Timestamp
type_admission["Timestamp"] = pd.to_datetime(
    type_admission["Timestamp"]
).dt.normalize()

# admission_data already has Date from your fixed DOA logic
admission_data["Date"] = pd.to_datetime(
    admission_data["Date"]
).dt.normalize()



daily_type_counts = (
    admission_data
    .groupby(["Date", "TYPE OF ADMISSION-EMERGENCY/OPD"])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# Rename for clarity
daily_type_counts = daily_type_counts.rename(
    columns={
        "E": "Emergency_Count",
        "O": "OPD_Count"
    }
)



type_admission = type_admission.merge(
    daily_type_counts,
    left_on="Timestamp",
    right_on="Date",
    how="left"
)



# Drop duplicate Date column from admission side
type_admission = type_admission.drop(columns=["Date"])

# Replace NaNs with 0 (days with no admissions)
type_admission[["Emergency_Count", "OPD_Count"]] = (
    type_admission[["Emergency_Count", "OPD_Count"]]
    .fillna(0)
    .astype(int)
)



print(type_admission[["Timestamp", "Emergency_Count", "OPD_Count"]].head())
print("Any NaNs:",
      type_admission[["Emergency_Count", "OPD_Count"]].isna().any().any())

   Timestamp  Emergency_Count  OPD_Count
0 2017-05-01               19          9
1 2017-05-02               11          3
2 2017-05-03                9          6
3 2017-05-04                9          8
4 2017-05-05               17          6
Any NaNs: False

In [57]:
import numpy as np
import xgboost as xgb
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error


type_admission_emerg_lag = (
    type_admission
    .sort_values("Timestamp")
    .reset_index(drop=True)
    .copy()
)


type_admission_emerg_lag["Emergency_lag1"] = (
    type_admission_emerg_lag["Emergency_Count"].shift(1)
)
type_admission_emerg_lag["Emergency_lag3"] = (
    type_admission_emerg_lag["Emergency_Count"].shift(3)
)
type_admission_emerg_lag["Emergency_lag7"] = (
    type_admission_emerg_lag["Emergency_Count"].shift(7)
)

# Drop rows created by lagging
type_admission_emerg_lag = (
    type_admission_emerg_lag
    .dropna()
    .reset_index(drop=True)
)


y_emerg_lag = type_admission_emerg_lag["Emergency_Count"]


X_emerg_lag = type_admission_emerg_lag.drop(
    columns=[
        "Emergency_Count",  # target
        "OPD_Count",        # avoid leakage
        "Timestamp"         # datetime not allowed
    ]
)


split_date = "2018-11-01"

train_idx_emerg = (
    type_admission_emerg_lag["Timestamp"] < split_date
)
test_idx_emerg = (
    type_admission_emerg_lag["Timestamp"] >= split_date
)

X_train_emerg_lag = X_emerg_lag.loc[train_idx_emerg]
X_test_emerg_lag  = X_emerg_lag.loc[test_idx_emerg]

y_train_emerg_lag = y_emerg_lag.loc[train_idx_emerg]
y_test_emerg_lag  = y_emerg_lag.loc[test_idx_emerg]

xgb_emerg_lag = xgb.XGBRegressor(
    n_estimators=400,
    max_depth=4,
    learning_rate=0.05,
    subsample=0.85,
    colsample_bytree=0.85,
    objective="reg:squarederror",
    random_state=42
)


xgb_emerg_lag.fit(X_train_emerg_lag, y_train_emerg_lag)


y_pred_emerg_lag = xgb_emerg_lag.predict(X_test_emerg_lag)

print("EMERGENCY (LAGGED, ISOLATED) RESULTS")
print("-----------------------------------")
print("R²   :", r2_score(y_test_emerg_lag, y_pred_emerg_lag))
print("RMSE:", np.sqrt(mean_squared_error(y_test_emerg_lag, y_pred_emerg_lag)))
print("MAE :", mean_absolute_error(y_test_emerg_lag, y_pred_emerg_lag))

EMERGENCY (LAGGED, ISOLATED) RESULTS
-----------------------------------
R²   : 0.5629621744155884
RMSE: 3.553794664873108
MAE : 2.895535707473755

In [56]:
import numpy as np
import xgboost as xgb
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error


y = type_admission["OPD_Count"]


X = type_admission.drop(
    columns=[
        "OPD_Count",        # target
        "Emergency_Count",  # avoid leakage
        "Timestamp"         # datetime not allowed
    ]
)


split_date = "2018-11-01"

train_idx = type_admission["Timestamp"] < split_date
test_idx  = type_admission["Timestamp"] >= split_date

X_train, X_test = X.loc[train_idx], X.loc[test_idx]
y_train, y_test = y.loc[train_idx], y.loc[test_idx]


model = xgb.XGBRegressor(
    n_estimators=300,
    max_depth=4,
    learning_rate=0.05,
    subsample=0.85,
    colsample_bytree=0.85,
    objective="reg:squarederror",
    random_state=42
)


model.fit(X_train, y_train)


y_pred = model.predict(X_test)

print("OPD (NO LAGS) RESULTS")
print("---------------------")
print("R²   :", r2_score(y_test, y_pred))
print("RMSE:", np.sqrt(mean_squared_error(y_test, y_pred)))
print("MAE :", mean_absolute_error(y_test, y_pred))

OPD (NO LAGS) RESULTS
---------------------
R²   : 0.38414907455444336
RMSE: 3.282443165690204
MAE : 2.6997361183166504

In [58]:
import numpy as np
import xgboost as xgb
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error


y_emerg_nolag = type_admission["Emergency_Count"]


X_emerg_nolag = type_admission.drop(
    columns=[
        "Emergency_Count",  # target
        "OPD_Count",        # avoid leakage
        "Timestamp"         # datetime not allowed
    ]
)


split_date = "2018-11-01"

train_idx = type_admission["Timestamp"] < split_date
test_idx  = type_admission["Timestamp"] >= split_date

X_train_emerg_nolag = X_emerg_nolag.loc[train_idx]
X_test_emerg_nolag  = X_emerg_nolag.loc[test_idx]

y_train_emerg_nolag = y_emerg_nolag.loc[train_idx]
y_test_emerg_nolag  = y_emerg_nolag.loc[test_idx]


xgb_emerg_nolag = xgb.XGBRegressor(
    n_estimators=300,
    max_depth=4,
    learning_rate=0.05,
    subsample=0.85,
    colsample_bytree=0.85,
    objective="reg:squarederror",
    random_state=42
)


xgb_emerg_nolag.fit(X_train_emerg_nolag, y_train_emerg_nolag)


y_pred_emerg_nolag = xgb_emerg_nolag.predict(X_test_emerg_nolag)

print("EMERGENCY (NO LAG) RESULTS")
print("--------------------------")
print("R²   :", r2_score(y_test_emerg_nolag, y_pred_emerg_nolag))
print("RMSE:", np.sqrt(mean_squared_error(y_test_emerg_nolag, y_pred_emerg_nolag)))
print("MAE :", mean_absolute_error(y_test_emerg_nolag, y_pred_emerg_nolag))

EMERGENCY (NO LAG) RESULTS
--------------------------
R²   : 0.5586890578269958
RMSE: 3.571125897797147
MAE : 2.9036977291107178

Normal split emergency and opd prediction

In [63]:
import numpy as np
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

# ===============================
# Target and features
# ===============================
y_emerg_rand = type_admission["Emergency_Count"]

X_emerg_rand = type_admission.drop(
    columns=[
        "Emergency_Count",
        "OPD_Count",
        "Timestamp"
    ]
)

# ===============================
# Random split
# ===============================
X_train_emerg_rand, X_test_emerg_rand, y_train_emerg_rand, y_test_emerg_rand = (
    train_test_split(
        X_emerg_rand,
        y_emerg_rand,
        test_size=0.2,
        random_state=42,
        shuffle=True
    )
)

# ===============================
# XGBoost model
# ===============================
xgb_emerg_rand = xgb.XGBRegressor(
    n_estimators=300,
    max_depth=4,
    learning_rate=0.05,
    subsample=0.85,
    colsample_bytree=0.85,
    objective="reg:squarederror",
    random_state=42
)

# ===============================
# Train & evaluate
# ===============================
xgb_emerg_rand.fit(X_train_emerg_rand, y_train_emerg_rand)
y_pred_emerg_rand = xgb_emerg_rand.predict(X_test_emerg_rand)

print("EMERGENCY (Random Split)")
print("------------------------")
print("R²   :", r2_score(y_test_emerg_rand, y_pred_emerg_rand))
print("RMSE:", np.sqrt(mean_squared_error(y_test_emerg_rand, y_pred_emerg_rand)))
print("MAE :", mean_absolute_error(y_test_emerg_rand, y_pred_emerg_rand))

EMERGENCY (Random Split)
------------------------
R²   : 0.605884313583374
RMSE: 3.3881793365033963
MAE : 2.7410879135131836